body{
    text-align: center;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: left;
}
.cabecera{
    background-color: steelblue;
    width: 100%;
}
